@{
    ViewBag.Title = "Videos";
    //Layout = "Your Layout Page goes here";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li><a class="box" href='@Url.Action("Index", "Home")' data-transition="fade" data-direction="reverse"> Home</a></li>
        <li><a class="box" href='@Url.Action("About", "Home")' data-transition="fade" data-direction="reverse"> About</a></li>
        <li><a class="box" href='@Url.Action("Contact", "Home")' data-transition="fade" data-direction="reverse"> Contact</a></li>
    </ul>
</aside>